#citas {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse:collapse ;
  width: 100%;
  background-color: white;
  border: solid 1px;
}

#citas td, #citas th {
  border: 1px, solid black;
  padding: 8px;

}

#citas tr:nth-child(even){
  background-color: #f2f2f2;
}

#citas tr:hover {
  background-color: #ddd;
}

#citas th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
  
}

#eliminar{
  background-color: rgba(255, 0, 0, 0.596);
  border: solid black 1px;
}

#contenedor{
  background-color: white;
  position: relative;
  margin-bottom: 10%;

}

form{
  margin-left:10%;
  margin-right: 10%;
  
  padding: 10px;
  color:999;
  border-radius: 5px;
  font-size: 0.6;
  margin-bottom: 5%;
  
}

form p {
  text-align: left;
  margin-bottom: 0.5%;
  font-weight: bold;
}

input,textarea{
  border:0;
  outline:none;
}

.field{
  border:solid 1px #ccc;
  padding:6px;
  width:80%;
}
.field:focus{
  border-color: #04AA6D;
}

#hora1{
  text-align: center;
  margin-top: 2%;
  background-color: #04AA6D;
  color: white;
  
}

#formulario{
 border-width:1px;
 margin-bottom:10%;
 }

#añadir{
  float:right;
  display: inline;
}
#paciente{
  margin-bottom:10%;
}

#pacientes {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse:collapse ;
  width: 100%;
  background-color: white;
  border: solid 1px;
}

#pacientes td, #citas th {
  border: 1px, solid black;
  padding: 8px;

}

#pacientes tr:nth-child(even){
  background-color: #f2f2f2;
}

#pacientes tr:hover {
  background-color: #ddd;
}

#pacientes th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04AA6D;
  color: white;
  
}

#salir {
  float:none;
  background-color: #dc345d ;
  width: 30%;
  margin: 10%;
}

