*{
  margin: 0;
  padding: 0;
}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
body{
  background-color: #eee;
  font-family: 'Open Sans', sans-serif;
}


.side-menu{
  position: fixed;
  background: #7EDB98;
  width: 300px;
  height: 100%;
  box-sizing: border-box;
  padding: 30px 20px;
  transition: width .2s ease-in;
  border-right: solid #465f4d;
  margin-right: 5px;
}

.side-menu.inactive {
  width: 80px;
}

.side-menu .top-section {
  position: relative;
}

.side-menu .top-section .logo{
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: inline-block;
  border-radius: 10%;
}

.side-menu .top-section .logo img{
  max-width: 100%;
  max-width: 100%;
}

.side-menu .top-section .toggle-menu-btn{
  color: #333;
  background: transparent;
  font-size: 40px;
  position: absolute;
  top: 50%;
  right: -45px;
  transform: translateY(-50%);
  border-radius: 10%;
  
}

.side-menu.inactive .top-section .toggle-menu-btn{
  right: -50px;
}

.side-menu .top-section .toggle-menu-btn i::before{
  background-color: white;
  border-radius: 10%;
}

.side-menu.inactive .top-section .toggle-menu-btn i::before{
  background-color: white;
  border-radius: 10%;
}

.side-menu .search-controller{
  color: #fff;
  position: relative;
}

.side-menu .search-controller .search-btn{
  width: 40px;
  height: 95%;
  border: none;
  position: absolute;
  background:none;
  border-radius: 0;
  font-size: 20px;
  color: #465f4d;
}


.side-menu .search-controller input[type=text]{
  border: solid #465f4d;
  outline: none;
  height: 35px;
  background: white;
  border-radius: 5px;
  display: block;
  margin: 20px 0;
  width: 100%;
  box-sizing: border-box;
  padding-left:40px;
  color: #666;

}

.side-menu .main-menu .menu-item {
  color: #333;
  text-decoration: none;
  font-size: 15px;
  display: block;
  font-weight: 600;
  cursor: pointer;
}

.side-menu .main-menu{
  margin: 5px 0;
}

.side-menu .main-menu .menu-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: transparent;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

.side-menu .main-menu .menu-item.active {
  background: rgb(112, 159, 118);
  color: white;
  border-radius: 5px ;
  border: #465f4d solid;
  
}

.side-menu .main-menu .menu-item span{
  position: absolute;
  display: inline-block;
  line-height: 40px;
  opacity: 1;
  transition: opacity .2s ease-in;
 }


.side-menu.inactive .main-menu .menu-item span{
 opacity: 0;
 width: 0;
 height: 0;
 overflow: hidden;
}

.side-menu .main-menu .sub-menu {
  color: #333;
  margin-left: 20px;
  border-left: 1px solid #666;
  box-sizing: border-box;
  padding-left: 30px;
  max-height: 0;
  overflow: hidden;
  transition: max-height .2s ease-in;
}
.side-menu .main-menu .sub-menu a.active{
  background: rgb(112, 159, 118);
  color: white;
  border-radius: 5px ;
  border: #465f4d solid;
  padding: 4px;
}

.side-menu .main-menu .sub-menu.active {
  max-height: 200px;
}

.side-menu .main-menu .sub-menu a{
  display: block;
  margin: 5px 0;
  font-size: 15px;
  font-weight: 600;
}

.side-menu-footer {
  width: 100%;
  height: 60px;
  background: #465f4d;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  padding-bottom: 60px;
  box-sizing: border-box;
  border-top: #333 solid;

}

.side-menu-footer .avatar{
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.side-menu-footer .avatar img{
  max-width: 100%;
  
}

.side-menu-footer .user-info{
  display: inline-block;
  margin: 0 10px;
  color: #333;
  position: absolute;
  opacity: 1;
  transition: opacity .2s ease-in;
  cursor: pointer;
}

.side-menu.inactive .side-menu-footer .user-info{
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;

}



.side-menu-footer .user-info h5{
  font-size: 15px;
}

.side-menu-footer .user-info a{
  font-size: 12px;
  color: #333;
}
.side-menu-footer .user-info a .t{

}

.divider {
  width: 100%;
  height: 1px;
  border-radius: 1px ;
  background: #333;

}

.container {
  margin-left: 300px;
  transition: margin-left .2s ease-in;
  padding: 50px;
  overflow: hidden;

}

.container.inactive {
  margin-left: 80px;
  overflow: hidden;
}