.info{
    width: 100%;
    display:flex;
    justify-content: space-between;
}

.item{
    flex:1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 5px 5px 15px 5px #424242; 
    box-shadow: 5px 5px 15px 5px #424242;
}
.title{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}